body {
    background-color: #fffbf7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

h1 {
    color: #025157;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #ffffff;
    background-color: #025157;
}

img {
    margin: auto;
    width: 70%;
}